{% extends 'company/Fin_base.html' %}
{% block body %}


{% load static %}

<style>
    input {
        background-color: #2f516f;
        border: 0;
        border-radius: 5px;
        color: white;
    }

    @media screen and (max-width: 768px) {
        #employeeid {
            margin-left: 0px !important;
        }
    }
</style>

<form action="{% url 'Fin_salaryedit' employee.id salary_detail.id %}" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-/4YbHY5q5lGynbhHacwPMS0cm6E5P6WfJxJ0+K5I2LZ1vgyMIH7EWrC5LlOQibQ" crossorigin="anonymous"></script>

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha384-GLhlTQ8iHXYr4Ll6ZtL4z+U4ViH6EX46MzT5N5tiSdY6Pmash4FgW1VaERuDQ2M" crossorigin="anonymous">

    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha384-oS/4h5ujr+q1I0e/B0ABtuW1NmMzqDvXRG5e2PDuL1V+omlYT1tDHDV1NsuIKD6L" crossorigin="anonymous"></script>


    
   
    <script>
        $(document).ready(function () {
            setCurrentDate();
            $('#empl_id').on('change', function () {
                fetchDays();
            });
        });

        function setCurrentDate() {
            var currentDate = new Date();
            var currentYear = currentDate.getFullYear();
            var currentMonth = currentDate.getMonth() + 1; 
            var currentDay = currentDate.getDate();
            var formattedDate = currentYear + '-' + (currentMonth < 10 ? '0' : '') + currentMonth + '-' + (currentDay < 10 ? '0' : '') + currentDay;
            $('#salary_date').val(formattedDate);
            $('#month').val(currentMonth);
            $('#year_').val(currentYear);
        }
        function fetchDays() {
            var selectedEmployeeId = $('#empl_id').val();
            var sd = $('#salary_date').val();
            var selectedMonth = $('#month').val();
            var selectedYear = $('#year_').val();
            $.ajax({
                type: 'POST',
                url: "{% url 'getDays' %}",
                data: {
                    sd : sd,
                    id: selectedEmployeeId,
                    month: selectedMonth,
                    year: selectedYear,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                dataType: 'json',
                success: function (data) {
                    document.getElementById('error_msg').innerHTML = ""
                    console.log("Employee details received:", data);
                    document.getElementById('holidays').value = data.holiday ;
                    document.getElementById('attendance').value = data.leave ;
                    document.getElementById('working_days').value = data.working_days ;
                },
                error: function (error) {
                    console.error("Error fetching employee details:", error);
                    document.getElementById('error_msg').innerHTML = error.responseJSON && error.responseJSON.error || 'Unknown error';
                }
            });
        }  
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#calculateButton").click(function() {
                calculateSalary();
            });
        });
        function calculateSalary() { 
            var casualLeave = $('#casual_leave').val() || 0;
            var otherCuttings = $('#other_cuttings').val() || 0;
            var addBonus = $('#add_bonus').val() || 0;
            var salary = $('#Salary').val() || 0;
            var holiday = $('#holidays').val() || 0;
            var leave = $('#attendance').val()|| 0;
            var month = $('#month').val();  
            var year = $('#year').val();  
            var Other_Allowance = $('#Other_Allowance').val()|| 0;
            var hra = $('#hra').val()|| 0;  
            var Conveyance_Allowance = $('#Conveyance_Allowance').val()|| 0; 
            $.ajax({
                type: 'POST',
                url: "{% url 'calculate_salary' %}",
                data: {
                    leave : leave,
                    holiday : holiday,
                    attendance : leave,
                    casual_leave: casualLeave,
                    other_cuttings: otherCuttings,
                    add_bonus: addBonus,
                    salary:salary,
                    month: month,
                    year: year,
                    Other_Allowance:Other_Allowance,
                    hra:hra,
                    Conveyance_Allowance:Conveyance_Allowance,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                dataType: 'json',
                success: function (data) {
                    console.log("Monthly salary calculated:", data);
                    var formattedSalary = parseFloat(data.monthly_salary).toFixed(2);
                    document.getElementById('monthly_salary').value = formattedSalary;
                    {% comment %} updateMonthlySalary(data); {% endcomment %}
                },
                error: function (error) {
                    console.error("Error calculating monthly salary:", error);
                }
            });
        }
        function updateMonthlySalary(data) {
            var monthlySalaryElement = document.getElementById('monthly_salary');
    
            if (monthlySalaryElement) {
                monthlySalaryElement.value = data.monthly_salary;
            } else {
                console.warn("Element with ID 'monthly_salary' not found in the DOM.");
            }
        }   
    </script>
    
    
    <div class="page-content">
        <span class="d-flex justify-content-end p-2" style="cursor: pointer;" onclick="window.location.href=`{% url 'Fin_salary_details' %}`"><i class="fa fa-times-circle text-white" style="font-size: 1.2rem;"></i></span>

        <h2 id="hel"></h2>
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center>
                        <h2 class="mb-0" id="estno">EDIT SALARY DETAILS</h2>
                    </center>
                </div>
                <hr />
            </div>
        </div>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="col"> </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Employee*</label>
                         <input type="hidden" id="empl_id" value="{{employee.id}}">
                           
                            <input type="text" class="form-control" id="empl_id" name="employee" placeholder="Employee" value="{{ employee.title }} {{ employee.first_name }} {{ employee.last_name }}" required> 

                            
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Employee Id</label>
                        <input type="text" class="form-control" id="eid" name="employeeno" placeholder="Employee Id" value="{{employee.employee_number}}" required>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ml-4 " style="width: 100%;">
                        <label class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{employee.employee_mail}}" required>
                    </div>
                  
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Join Date</label>
                        <input type="date" class="form-control" id="joindate" name="joindate" value="{{employee.date_of_joining|date:'Y-m-d'}}" required><br>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Designation</label>
                        <input type="text" class="form-control" id="designation" name="designation" placeholder="Designation" value="{{employee.employee_designation}}" required><br>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Salary Date</label>
                        <input type="date" class="form-control" name="salary_date" id="salary_date" value="{{salary_detail.salary_date|date:'Y-m-d'}}" required>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Month</label> 
                        <select name="month" id="month" class="form-control" required onchange="fetchDays()">
                            {% for month_name in months %}
                            <option value="{{ month_name.value }}" {% if salary_detail.month == month_name.value %}selected{% endif %}>{{ month_name.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Year</label>
                        <select name="year" id="year_" class="form-control" required onchange="fetchDays()">
                            {% for year in years %}
                            <option value="{{ year }}" {% if year == salary_detail.year %}selected{% endif %}>{{ year }}</option>

                            {% endfor %}
                        </select>
                    </div>
                    <p id="error_msg"></p>  
               
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Leave</label>
                        <input type="text" class="form-control" id="attendance" name="attendance" value="{{ salary_detail.leave }}">
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Casual Leave</label>
                        <input type="number" class="form-control" id="casual_leave" name="casual_leave" value="{{ salary_detail.casual_leave }}">
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Holiday</label>
                        <input type="text" class="form-control" id="holidays" name="holidays" value="{{ salary_detail.holiday }}" readonly>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Working Day</label>
                        <input type="text" class="form-control" id="working_days" name="working_days" value="{{ salary_detail.total_working_days }}" readonly>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label"> Basic Salary</label>
                        <input type="hidden" value="{{employee.id}}">

                        <input type="number" class="form-control" id="Salary" name="Salary" placeholder="Salary" value="{{employee.salary_amount}}" required>
                    </div>
               
                   
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">HRA</label>
                        <input type="number" name="HRA" class="form-control" id="hra" value="{{ salary_detail.hra | default:0 }}">
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Conveyance Allowance</label>
                        <input type="number" name="Conveyance_Allowance" class="form-control" id="Conveyance_Allowance" value="{{ salary_detail.conveyance_allowance | default:0 }}">
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Other Allowance</label>
                        <input type="number" name="Other_Allowance"  class="form-control" id="Other_Allowance" value="{{ salary_detail.other_allowance | default:0}}">
                    </div>
                    
                </div>






                <div class="row mt-3">
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Other Cuttings</label>
                        <input type="number" class="form-control" name="other_cuttings" id="other_cuttings" value="{{ salary_detail.other_cuttings }}" placeholder="Other Cuttings">
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Add Bonus</label>
                        <input type="number" class="form-control" name="add_bonus"  id="add_bonus" value="{{ salary_detail.add_bonus }}" placeholder="Add Bonus">
                    </div>
                    
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Salary</label>
                        <input type="text" class="form-control" id="monthly_salary" name="monthly_salary" value="{{ salary_detail.total_salary }}" readonly>
                        <button type="button" class="btn btn-outline-secondary w-50 text-light mt-3" id="calculateButton">Calculate Salary</button>
                    </div>
              
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Description</label>
                        <textarea class="form-control" name="description" rows="3" >{{ salary_detail.description }}</textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label>Agree to terms and conditions</label>
                            <div class="invalid-feedback">You must agree before submitting.</div>
                        </div>
                    </div>
                </div> 
                <div class="row justify-content-end">
                    <!-- <div class="col-md-4"></div> -->
                    <div class="col-md-2">
                        <!-- <input type="submit" class="btn btn-outline-secondary w-100 text-light" name="Draft" value="Draft"> -->

                        <!-- <button name="submit" value="draft" class="btn btn-outline-info rounded-pill text-grey w-100 mt-3 mb-3" type="submit">
                         Draft
                        </button> -->
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-outline-secondary w-100 ml-1 text-light"  value="Save">

                        <!-- <button name="submit"  value="save" class="btn btn-outline-info rounded-pill text-grey w-100 mt-3 mb-3" type="submit">
                            Save 
                        </button> -->
                    </div>
            </div>
        </div>
    </div>
</form>
<script>
    function poppins1() {
        var chkbtn = document.getElementById('okay');
        if (chkbtn.checked == true) {
            document.getElementById('tempstreet').value = document.getElementById('street').value;
            document.getElementById('tempcity').value = document.getElementById('city').value;
            document.getElementById('temppinco').value = document.getElementById('pinco').value;
            document.getElementById('tempcountry').value = document.getElementById('country').value;
            document.getElementById('tempstate').value = document.getElementById('state').value;
        } else {
            document.getElementById('tempstreet').value = '';
            document.getElementById('tempcity').value = '';
            document.getElementById('tempstate').value = '';
            document.getElementById('temppinco').value = '';
            document.getElementById('tempcountry').value = '';
        }
    }
    $(document).ready(function () {
        $("#gsttype").change(function () {
            var x = $('#gsttype').val();
            if (x == "unregistered Business") {
                $(".gstrow").removeClass('d-block');
                $(".gstrow").addClass('d-none');

            }
            else if (x == 'Overseas') {
                $(".gstrow").removeClass('d-block');
                $(".gstrow").addClass('d-none');
            }
            else if (x == 'Consumer') {
                $(".gstrow").removeClass('d-block');
                $(".gstrow").addClass('d-none');
            }
            else {
                $(".gstrow").removeClass('d-none');
                $(".gstrow").addClass('d-block');
            }

        });
    });

    $(document).ready(function () {


        var bc = document.getElementById("plosu").value;
        var compstate = document.getElementById("cmpstate").value;
        if (bc == compstate) {
            document.getElementById('cgst1').style.display = 'flex';
            document.getElementById('sgst1').style.display = 'flex';
            document.getElementById('igst1').style.display = 'none';

        } else {
            document.getElementById('cgst1').style.display = 'none';
            document.getElementById('sgst1').style.display = 'none';
            document.getElementById('igst1').style.display = 'flex';

        }
        var i = 1;
        $("#add_row").click(function () {
            b = i - 1;
            $('#addr' + i).html($('#addr' + b).html()).find('td:first-child').html(i + 1);
            $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
            i++;
        });

    });


    $(document).ready(function () {
        $('#add').click(function () {
            var roinc = $("#items-table-body tr").length;
            roinc++;
            $('#items-table-body').append(
                `
          <tr id='addr0${roinc}'>
            <td class = 'nnum'>${roinc}</td>
            <td style="width: 20%;">
              <div class="d-flex">
                <select name='product[]' id="product${roinc}" class="form-control product" style="background-color: #2f516f; color: white;">
                  <option value=" " selected>Select Item</option>
                    {% for i in item %}
                      {% if i.cid_id == cmp1.cid %}
                        <option value="{{ i.name  }}">{{ i.name  }} </option>
                      {% endif %}
                    {% endfor %}
                </select>

                <a href="#">
                    <button type="button" class="btn btn-outline-secondary ml-1" 
                    data-target="#newitem" data-toggle="modal">+</button>
                </a>
              </div>
            </td>
            <td><input type="text" name='hsn[]' id="hsn${roinc}" placeholder='Enter HSN Code' class="form-control" style="background-color: #2f516f; color: white;" /></td>
            <td><input type="number" name='qty[]'  placeholder='Enter Qty' id="qty${roinc}" class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;margin-top: 21px;" />
                <div><span>Available Qty :</span> <span id="qtyspan${roinc}"class=''></span></div>
            </td>
            <td><input type="number" name='price[]' id="unit${roinc}" placeholder='Enter Unit Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
            <td>
              <input type="text"  id="select_tax" placeholder="Tax Rate" class="form-control seltax d-flex">

              <select name='tax1[]' id="tax1${roinc}" class="form-control tax intra_tax d-none">
                  <option selected disabled > Select GST</option>
                  <option value=28 >28.0% GST(28%)</option>
                  <option value=18 >18.0% GST(18%)</option>
                  <option value=12  >12.0% GST(12%)</option>
                      <option value=5  >05.0% GST(05%)</option>
                  <option value=3  >03.0% GST(03%)</option>
                      <option value=0  >0.0% GST(0%)</option>
              </select>
              <select name='tax2[]' id="tax2${roinc}" class="form-control tax inter_tax d-none">
                  <option selected disabled  >Select IGST</option>
                  <option value=28 >28.0% IGST(28%)</option>
                  <option value=18 >18.0% IGST(18%)</option>
                  <option value=12  >12.0% IGST(12%)</option>
                      <option value=5  >05.0% IGST(05%)</option>
                  <option value=3  >03.0% IGST(03%)</option>
                      <option value=0  >0.0% IGST(0%)</option>
              </select>
              
            </td>  
            <td style="display: none;"><input type="number" step="any" name='taxamount${roinc}' id="taxamount${roinc}" class="form-control taxamount" /></td>

            <td>
                <input type="number" name='discount[]' placeholder='Enter Discount' value=0 id="disc${roinc}" class="form-control disc" step=0 min=0>
            </td>
            <td><input type="number" name='total[]' id="total${roinc}" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td>
            <td>
              <button type="button" id="${roinc}" class="btn  font-weight-bold clone_row fas fa-clone px-2 py-1 my-1" style="background-color:rgb(88, 107, 143);"></button><br>
              <button type="button" id="${roinc}" class="btn btn-danger px-2 mx-1 py-1 remove_row fas fa-close"></button>
            </td>
          </tr>`


            );
            $('.product').each(function (index, dropdown) {
                var row = $(dropdown).closest('.items-table-body'); // Assuming each row has a class 'item-row'
                $.ajax({
                    url: "{% url 'item_dropdown' %}",
                    type: "GET",
                    dataType: "json",
                    data: row.find('select').serialize(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',

                    success: function (data) {
                        var dropdown = $('.product');
                        dropdown.empty();
                        dropdown.append(`<option selected>Select Item</option>`);
                        $.each(data, function (key, value) {

                            dropdown.append($('<option></option>').attr('value', key).text(value).val(value));
                        });

                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    });
    // calculation---------------------------

    $(document).on('change', '.product', function () {

        var n = $(this).attr("id").slice(7);
        $.ajax({
            url: "{% url 'itemdata' %}",
            type: 'GET',
            data: {
                id: $(this).val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },

            success: function (response) {
                data = response.hsn
                data2 = response.qty
                data3 = response.price
                data4 = response.gst
                data5 = response.sgst

                console.log(data)

                document.getElementById('hsn' + n).value = data;
                document.getElementById('qtyspan' + n).innerHTML = data2;
                document.getElementById('unit' + n).value = data3;

            },
        });


    });

    $(document).on('click', '.remove_row', function () {
        var row_id = $(this).attr("id");
        $('#addr0' + row_id + '').remove();

        calc();
    });


    $(document).on('click', '.clone_row', function () {
        var roinc = $("#items-table-body tr").length;
        var originalRow = $(this).closest('#items-table-body tr');
        var clonedRow = originalRow.clone();

        clonedRow.attr('id', 'addr0' + (roinc + 1));

        clonedRow.find('.nnum').text(roinc + 1);

        clonedRow.find('[id]').each(function () {
            var oldId = $(this).attr('id');
            var newId = oldId.replace(/\d+/, roinc + 1);
            console.log(newId)
            $(this).attr('id', newId);
        });

        clonedRow.find('.product').each(function () {
            $(this).val(originalRow.find('.product').val());
        });
        clonedRow.find('.intra_tax').each(function () {
            $(this).val(originalRow.find('.intra_tax').val());
        });
        clonedRow.find('.inter_tax').each(function () {
            $(this).val(originalRow.find('.inter_tax').val());
        });
        originalRow.after(clonedRow);

        calc();

    });
    $(document).ready(function () {


        $('#items-table-body').on('keyup change', function () {
            calc();
        });

        $('#tax').on('keyup change', function () {
            calc_total();
        });
    });

    function calc() {
        $('#tab_logic tbody tr').each(function () {
            var html = $(this).html();
            if (html != '') {
                var qty = $(this).find('.qty').val();

                var price = $(this).find('.price').val();

                var dis = $(this).find('.disc').val();
                console.log(qty)
                console.log(typeof (qty))

                console.log(price)
                console.log(typeof (price))
                console.log(parseFloat(dis))
                console.log(typeof (parseFloat(dis)))
                var bc = $("#plosu").val();
                var compstate = $("#cmpstate").val();
                if (bc == compstate) {
                    tax = $(this).find('.intra_tax').val();
                }
                else {
                    tax = $(this).find('.inter_tax').val();
                }
                console.log((parseFloat(qty) * parseFloat(price)) - parseFloat(dis))
                $(this).find('.total').val((parseFloat(qty) * parseFloat(price)) - parseFloat(dis));
                $(this).find('.taxamount').val(((qty * price) - dis) * (tax / 100));
                calc_total();
            }
        });
    }

    function calc_total() {

        total = 0;
        $('.total').each(function () {
            total += parseFloat($(this).val());
        });
        taxamount = 0;
        $('.taxamount').each(function () {
            taxamount += parseFloat($(this).val());
        });
        $('#sub_total').val(total.toFixed(2));
        $('#tax_amount').val(taxamount.toFixed(2));
        ship = parseFloat($("#ship").val());
        // console.log( ship);
        gtot = taxamount + total + ship;
        $('#grandtotal').val(gtot.toFixed(2));
        $('#baldue').val(gtot.toFixed(2));

        test()
    }

    function test() {

        var bc = $("#plosu").val();
        var compstate = $("#cmpstate").val();
        d = 0
        if (bc == compstate) {
            gst = taxamount / 2
            $('#cgst').val(parseFloat(gst.toFixed(2)));
            $('#sgst').val(parseFloat(gst.toFixed(2)));
            $('#igst').val(parseFloat(d.toFixed(2)));
        }

        if (bc != "{{ cmp1.state }}") {
            $('#igst').val(taxamount.toFixed(2));
            $('#cgst').val(d.toFixed(2));
            $('#sgst').val(d.toFixed(2));
        }


    }
    function showinnum(divId, element) {
        if (element.value) {
            document.getElementById(divId).innerHTML = "Debit Note " + element.value;
        } else {
            document.getElementById(divId).innerHTML = "Debit Note";
        }
    }

    $(document).on('keyup', "#ship", function () {
        var subtot = $('#sub_total').val();
        var tax = $('#tax_amount').val();
        var sh = $("#ship").val();
        $('#grandtotal').val((parseFloat(subtot) + parseFloat(tax) + parseFloat(sh)).toFixed(2));
        $('#baldue').val((parseFloat(subtot) + parseFloat(tax) + parseFloat(sh)).toFixed(2));
    });

    $(document).on("change", "#adj", function () {
        var round = parseFloat($("#grandtotal").val()) + parseFloat($("#adj").val())
        $("#grandtotal").val(round);
        $('#baldue').val(round);
    });

    $(document).on('click', '.remove_row', function () {
        var row_id = $(this).attr("id");
        $('#addr0' + row_id + '').remove();
    });







    function poppins() {
        var chkbtn = document.getElementById('okay');
        if (chkbtn.checked == true) {
            document.getElementById('shipstreet').value = document.getElementById('street').value;
            document.getElementById('shipcity').value = document.getElementById('city').value;
            document.getElementById('shippincode').value = document.getElementById('pincode').value;
            document.getElementById('shipcountry').value = document.getElementById('country').value;
            document.getElementById('shipstate').value = document.getElementById('state').value;
            document.getElementById('shipst').innerHTML = document.getElementById('state').value;
        } else {
            document.getElementById('shipstreet').value = '';
            document.getElementById('shipcity').value = '';
            document.getElementById('shipstate').value = '';
            document.getElementById('shippincode').value = '';
            document.getElementById('shipcountry').value = '';
        }
    }

    function hidinput(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }


    function showMessage(input) {
        const gstin = input.value;

        if (gstin.length === 15) {
            // document.getElementById("message").textContent = "Please wait, validating GSTIN format...";
            setTimeout(() => checkgst(input), 500);  // Wait for a second and then validate GSTIN
        } else {
            document.getElementById("message").textContent = "";
        }
    }


    function checkgst(element) {
        var gstinput = element.value;
        var gstregexp = "[0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9A-Za-z]{1}[Z]{1}[0-9a-zA-Z]{1}";
        if (gstinput.match(gstregexp)) {
            document.getElementById('warngst').innerHTML = '';
        } else {
            document.getElementById('warngst').innerHTML = 'Please provide a valid GST Number';
            alert('Please provide a valid GST Number');
        }
    }

    function checkpan(element) {
        var paninput = element.value;
        var panregexp = ["[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}"]
        if (paninput.match(panregexp)) {
            document.getElementById('warnpan').innerHTML = '';
        } else {
            document.getElementById('warnpan').innerHTML = 'Please provide a valid PAN Number';
            alert('Please provide a valid PAN Number')
        }
    }

    function checkweb(element) {
        var webinput = element.value;
        var webregexp = "www."
        if (webinput.startsWith(webregexp)) {
            document.getElementById('warnweb').innerHTML = '';
        } else {
            document.getElementById('warnweb').innerHTML = 'Please provide a valid Website Address';
            alert('Please provide a valid Website Address')
        }
    }

    function checkphone(element) {
        var phoneinput = element.value;
        var phoneregexp = "[0-9]{10}";
        if (phoneinput.match(phoneregexp)) {
            document.getElementById('warnphone').innerHTML = '';
        } else {
            document.getElementById('warnphone').innerHTML = 'Please provide a valid Phone Number';
            alert('Please provide a valid Phone Number')
        }
    }
    function insertValue() {
        var select = document.getElementById("customer"),
            txtVal = document.getElementById("val").value,
            newOption = document.createElement("OPTION"),
            newOptionval = document.createTextNode(txtVal);

        newOption.appendChild(newOptionval);
        select.insertBefore(newOption, select.lastChild);
    }
</script>


</div>
<script>
    function poppins() {
        var chkbtn = document.getElementById('okay');
        if (chkbtn.checked == true) {
            document.getElementById('tempstreet').value = document.getElementById('street').value;
            document.getElementById('tempcity').value = document.getElementById('city').value;
            document.getElementById('temppinco').value = document.getElementById('pinco').value;
            document.getElementById('tempcountry').value = document.getElementById('country').value;
            document.getElementById('tempstate').value = document.getElementById('state').value; 
        } else {
            document.getElementById('tempstreet').value = '';
            document.getElementById('tempcity').value = '';
            document.getElementById('tempstate').value = '';
            document.getElementById('temppinco').value = '';
            document.getElementById('tempcountry').value = '';
        }
    }
</script>
<script>
    function hidinput(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }

    function disinput(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }

    function disinput2(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }
    function checkgst(element) {
        var gstinput = element.value;
        var gstregexp = "[0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9A-Za-z]{1}[Z]{1}[0-9a-zA-Z]{1}";
        if (gstinput.match(gstregexp)) {
            document.getElementById('warngst').innerHTML = '';
        } else {
            document.getElementById('warngst').innerHTML = 'Please provide a valid GST Number';
            alert('Please provide a valid GST Number');
        }
    }

    function checkpan(element) {
        var paninput = element.value;
        var panregexp = ["[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}"]
        if (paninput.match(panregexp)) {
            document.getElementById('warnpan').innerHTML = '';
        } else {
            document.getElementById('warnpan').innerHTML = 'Please provide a valid PAN Number';
            alert('Please provide a valid PAN Number')
        }
    }

    function checkweb(element) {
        var webinput = element.value;
        var webregexp = "www."
        if (webinput.startsWith(webregexp)) {
            document.getElementById('warnweb').innerHTML = '';
        } else {
            document.getElementById('warnweb').innerHTML = 'Please provide a valid Website Address';
            alert('Please provide a valid Website Address')
        }
    }
</script>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</script>
<script type="text/javascript">
    function show(str) { 
        if (document.getElementById('Employees').value != 'Timebased') {
            $('#amount').prop('readonly', false);
        }
        else {
            $('#amount').prop('readonly', true);
        }
        document.getElementById('Salarydetails').style.display = 'none';
        document.getElementById('Salarydetails').style.display = 'block';
    }

    function show2(sign) {
        document.getElementById('Salarydetails').style.display = 'block';
        document.getElementById('Salarydetails').style.display = 'none'; 
    }

    function toggleDivVisibility() {
        var selectElement = document.getElementById("drp_Bank_Details");
        var selectedValue = selectElement.value;
        var bankDiv = document.getElementById("Bank_Details");

        if (selectedValue === "Yes") {
            bankDiv.style.display = "block";  
        } else {
            bankDiv.style.display = "none";   
        }
    }
    function DefineSalaryShow() {
        var time_based = document.getElementById("time_based_show");
        if (document.getElementById('Employees').value != 'Timebased') {
            $('#amount').prop('readonly', false);  
            time_based.style.display = "none";
        }
        else {
            $('#amount').prop('readonly', true); 
            time_based.style.display = "flex";
        }
 
    }
    $('#hours, #rate').on('input', function () {
        var hours = parseFloat($('#hours').val());
        var rate = parseFloat($('#rate').val());
        var amount = hours * rate;
        $('#amount').val(amount);
    });

    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
        }
    }
    function toggleDivTds() {
        var selectElement = document.getElementById("tdsapplicable");
        var selectedValue = selectElement.value;
        var tdsDiv = document.getElementById("div-tds");

        if (selectedValue === "Yes") {
            tdsDiv.style.display = "block"; 
        } else {
            tdsDiv.style.display = "none";   
        }
    }
</script>

<script>
    var dateOfBirthInput = document.getElementById('dateofbirth');
    var ageInput = document.getElementById('age');
    dateOfBirthInput.addEventListener('change', function () {
        var dob = new Date(this.value);
        var today = new Date();
        var age = today.getFullYear() - dob.getFullYear();
        if (today.getMonth() < dob.getMonth() ||
            (today.getMonth() === dob.getMonth() && today.getDate() < dob.getDate())) {
            age--;
        }
        ageInput.value = age;
    });
</script>
<script>
    $(document).ready(function() {
        console.log("Script is running");
        var selectedDate = $('#salary_date').val();
        console.log("Selected Date:", selectedDate);
    });
</script>

{% endblock %}
